services:
  postgres:
    container_name: caravan_postgres
    image: postgres:17.6-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"

  redis:
    container_name: caravan_redis
    image: redis:8.2-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
    driver: local
    driver_opts:
      type: none
      device: ./docker/postgres
      o: bind

  redis_data:
    driver: local
    driver_opts:
      type: none
      device: ./docker/redis
      o: bind
